version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-filmlabs}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  filmlabs-web:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-filmlabs}?schema=public
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - PASSWORD_PEPPER=${PASSWORD_PEPPER}
      - NEXTAUTH_URL=${NEXTAUTH_URL:-http://localhost:3000}
      - TMDB_API_KEY=${TMDB_API_KEY}


volumes:
  postgres_data: