<main>
    <div class="film-main">
        <div class="film-viewer">
            <!--<img src="/static/media/dune_viewer.png">-->
            {% if service_url %}
                <iframe src="{{ service_url }}"
                    id="media_iframe"
                    class="loading"
                    title="Video player"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            {% else %}
                <iframe id="media_iframe" class="loading"></iframe>
            {% endif %}
        </div>
        <div class="film-top">
            <h1 style="flex: 1;">{{ title or "Title" }}</h1>
            <div class="film-end">
                <div class="rating">
                    <img class="rating-img" src="/static/media/star.png" alt="Rating">
                    <span>{{ rating or "Rating" }}/10</span>
                    
                </div>
                <a class="button" href="{{ trailer_url }}">
                    Trailer
                </a>
                <button class="button">
                    <img src="/static/media/heart.svg">
                    Favorites
                </button>
            </div>
        </div>
        <div class="film-info-tags">
            <span>{{ year or  "Year" }}</span>
            <!--<span>2h 46m</span>-->
            <!--<span>PG-13</span>-->
            <span>{{ media_type or "Media Type" }}</span>
        </div>
        {% if genres %}
            <div class="genre-chips scroll-list unselectable"></div>
            {% for genre in genres %}
                <a href="{{ genre.url }}" class="clear-chip">
                    <span>genre.name</span>
                </a>
            {% endfor %}
            </div>
        {% endif %}
        <div class="film-description">
            <p>
                {{ overview or "Description" }}
            </p>
            <p class="see-more">
                <span>See more at</span>
                <a class="styled-a" href="{{ tmdb_url }}" target=”_blank”>
                    TMDB
                </a>
            </p>
        </div>
        <div class="service-provider-container">
            <h2>Service Providers</h2>
            {% if service_providers %}
                <div class="chips-grid">
                    {% for service in service_providers %}
                        {% if service.name == selected_service %}
                            <a href="?service={{ service.name }}" class="button-chip selected-button-chip"><p>{{ service.name }}</p></a>
                        {% else %}
                            <a href="?service={{ service.name }}" class="button-chip"><p>{{ service.name }}</p></a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if media_type == "TV" %}
            <div class="film-episodes">
                <div class="dropdown">
                    <button class="dropdown-button">
                        <span class="unclickable">{{ selected_season }}</span>
                        <img src="/static/media/down_arrow.svg" class="unclickable">
                    </button>
                    <div class="dropdown-list-container hide">
                        <div class="dropdown-button-list">
                            {% if seasons %}
                                {% for season in seasons %}
                                    {% if season == selected_season %}
                                        <button class="dropdown-button-active">Season {{ season }}</button>
                                    {% else %}
                                        <button>Season {{ season }}</button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if episodes %}
                    <div class="chips-grid">
                        {% for episode in episodes %}
                            {% if episode["number"] == selected_episode %}
                                <button class="button-chip selected-button-chip">
                                    <span>Episode episode["number"]</span>
                                    <spam>∙</spam>
                                    <p>episode["name"]</p>
                                </button>
                            {% else %}
                                <button class="button-chip">
                                    <span>Episode episode["number"]</span>
                                    <spam>∙</spam>
                                    <p>episode["name"]</p>
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>       
        {% endif %}   
    </div>
</main>