<main>
    <div class="film-main">
        <div class="film-viewer">
            <img src="/static/media/dune_viewer.png">
        </div>
        <div class="film-top">
            <h1 style="flex: 1;">Dune: Part Two</h1>
            <div class="film-end">
                <div class="rating">
                    <img class="rating-img" src="/static/media/star.png" alt="Rating">
                    <span>8.5/10</span>
                </div>
                <button class="button">
                    Trailer
                </button>
                <button class="button">
                    <img src="/static/media/heart.svg">
                    Favorites
                </button>
            </div>
        </div>
        <div class="film-info-tags">
            <span>2024</span>
            <span>2h 46m</span>
            <span>PG-13</span>
            <span>TV</span>
        </div>
        <div class="genre-chips scroll-list unselectable">
            <a href="" class="clear-chip">
                <span>Action Epic</span>
            </a>
            <a href="" class="clear-chip">
                <span>Desert Adventure</span>
            </a>
            <a href="" class="clear-chip">
                <span>Epic</span>
            </a>
            <a href="" class="clear-chip">
                <span>Sci-Fi Epic</span>
            </a>
            <a href="" class="clear-chip">
                <span>Space Sci-Fi</span>
            </a>
            <a href="" class="clear-chip">
                <span>Action</span>
            </a>
            <a href="" class="clear-chip">
                <span>Adventure</span>
            </a>
            <a href="" class="clear-chip">
                <span>Drama</span>
            </a>
            <a href="" class="clear-chip">
                <span>Sci-Fi</span>
            </a>
        </div>
        <div class="film-description">
            <p>
                Paul Atreides unites with the Fremen while on a warpath of revenge against the conspirators who destroyed his family. 
                Facing a choice between the love of his life and the fate of the universe, 
                he endeavors to prevent a terrible future.
            </p>
            <p class="see-more">
                <span>See more at</span>
                <a class="styled-a" href="https://www.themoviedb.org" target=”_blank”>
                    TMDB
                </a>
            </p>
        </div>
        <div class="film-episodes">
            <div class="dropdown">
                <button class="dropdown-button">
                    <span class="unclickable">Season 4</span>
                    <img src="/static/media/down_arrow.svg" class="unclickable">
                </button>
                <div class="dropdown-list-container hide">
                    <div class="dropdown-button-list">
                        <button>Season 1</button>
                        <button>Season 2</button>
                        <button>Season 3</button>
                        <button class="dropdown-button-active">Season 4</button>
                        <button>Season 5</button>
                        <button>Season 6</button>
                    </div>
                </div>
            </div>
            <div class="chips-grid">
                <button class="button-chip">
                    <span>Episode 1</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 2</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 3</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 4</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 5</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 6</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 7</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 8</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 9</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 10</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 11</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 12</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 13</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 14</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 15</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 16</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 17</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 18</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 19</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
                <button class="button-chip">
                    <span>Episode 20</span>
                    <spam>∙</spam>
                    <p>Episode Title</p>
                </button>
            </div>
        </div>                
    </div>
</main>